.page {
  &.menu-is-open {
    .page-block:hover .drag-handle:not(.menu-open) {
      opacity: 0;
    }
  }
}

.page-block, .page-list {
  .drag-handle {
    opacity: 0;
    user-select: none;
    transition: all 25ms ease-in 0s;
    cursor: grab;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 24px;
    border-radius: 3px;
    outline: none;
    &.menu-open {
      opacity: 1;
    }
  }
  &:hover {
    .drag-handle {
      opacity: 1;
    }
  }
}

.page-block {
  & > .absolute {
    left: 0;
    top: 0;
  }
  .drag-handle {
    left: -8px;
    top: 8px;
  }
}
