@font-face {
  font-family: 'Material Icons Outlined';
  font-style: normal;
  font-weight: 400;
  src: url('../font/material-icons-outlined.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}

.page {
  @apply flex-1 transition-all max-h-screen overflow-y-auto;
  > div {
    @apply my-12 lg:mt-40 mb-96 w-full max-w-full mx-auto lg:max-w-screen-md;
  }
  &.menu-is-open {
    .page-block:hover .drag-handle:not(.menu-open) {
      @apply opacity-0;
    }
  }
}


.sidebar {
  @apply relative pr-6 translate-x-0 lg:-translate-x-64 transform transition-transform;
  .toggle {
    @apply fixed inline-flex h-10 w-10 items-center justify-center flex-shrink-0 lg:w-8 lg:h-8 rounded select-none ml-1 top-1 lg:ml-2 lg:top-2 left-64 hover:bg-gray-100 opacity-50 transform rotate-180 lg:rotate-0;
  }
  & + .page {
    @apply flex-shrink-0 ml-0 -mr-64 lg:mr-0 lg:-ml-64;
  }
  &.active {
    @apply -translate-x-64 lg:translate-x-0;
    .toggle {
      @apply opacity-50 lg:opacity-0 rotate-0 lg:rotate-180;
    }
    & + .page {
      @apply -ml-64 mr-0 lg:ml-0;
    }
  }
  &:hover .toggle {
    @apply opacity-100;
  }
}

.page-list {
  @apply flex pl-4 pr-2 cursor-pointer hover:bg-gray-300;
  .v-popover {
    @apply flex items-center;
  }
  .drag-handle {
    @apply opacity-50 lg:opacity-0 select-none flex items-center justify-center h-6 w-4 rounded-sm outline-none hover:bg-gray-200;
    cursor: grab;
    transition: all 25ms ease-in 0s;
  }
  &:hover .drag-handle {
    @apply opacity-100;
  }
}

.page-block {
  .control-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    @apply py-1;
  }
  .drag-handle {
    @apply opacity-40 lg:opacity-0 select-none flex items-center justify-center h-6 w-4 rounded-sm outline-none hover:bg-gray-100;
    cursor: grab;
    transition: all 25ms ease-in 0s;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: -4px;
    &.menu-open {
      @apply opacity-100;
    }
  }
  &:hover .drag-handle {
    @apply opacity-100;
  }
  .block-prefix {
    @apply w-6 flex items-center justify-center flex-grow-0 flex-shrink-0 mr-1;
  }
  .editable {
    word-break: break-word;
  }
  &.heading-block {
    @apply font-semibold text-2xl md:text-3xl mt-5 mb-2;
  }
  &.page-heading {
    @apply font-bold text-3xl md:text-4xl mt-0 mb-4;
  }
  &.sub-heading-block {
    @apply font-semibold text-xl md:text-2xl mt-5 mb-1;
  }
  &.sub-sub-heading-block {
    @apply font-semibold text-lg md:text-xl mt-5 mb-px;
  }
  &.to-do-block {
    @apply py-px;
    .editable {
      @apply py-1;
    }
    .block-prefix {
      @apply items-start mt-2;
      .content {
        @apply w-4 h-4 mt-px border-2 border-black;
      }
    }
    &:hover, &.completed {
      .block-prefix .content::before {
        @apply relative text-sm h-4 leading-none block;
        top: -2px;
        content: '✓';
      }
    }
    &.completed {
      .block-prefix .content {
        @apply border-gray-400 text-gray-400;
      }
      .editable {
        @apply text-gray-400 line-through;
      }
    }
  }
  &.bulleted-list-block {
    @apply py-px;
    .editable {
      @apply py-1;
    }
    .block-prefix .content {
      @apply leading-none;
      font-size: 1.5em;
      margin-bottom: 0.1em;
    }
  }
  &.numbered-list-block {
    @apply py-px;
    .editable {
      @apply py-1;
    }
  }
  &.code-block {
    @apply px-0;
    .editable {
      @apply whitespace-pre-wrap my-2 mx-2 px-2 py-1 text-white bg-gray-500;
    }
  }
  &.quote-block {
    @apply my-2;
    .editable {
      @apply relative px-4 py-2 text-lg border-l-4 text-gray-800 border-gray-900;
    }
  }
  &.text-block {
    @apply py-px my-0;
    .editable {
      @apply py-1;
    }
  }
}

.block-menu {
  .section {
    padding-top: 6px;
    padding-bottom: 6px;
    @apply border-b border-gray-200;
  }
  .item {
    @apply w-full cursor-pointer select-none hover:bg-gray-100 flex items-center text-sm leading-5;
    min-height: 28px;
    .prefix {
      @apply flex items-center justify-center ml-4 text-gray-500;;
    }
    .text {
      @apply flex-auto min-w-0 ml-2 mr-4;
      div {
        @apply overflow-hidden whitespace-nowrap overflow-ellipsis;
      }
    }
    .suffix {
      @apply flex-shrink-0 min-w-0 mr-4 flex items-center;
      span {
        @apply text-xs text-gray-400 whitespace-nowrap flex items-center;
      }
    }
  }
  .trigger {
    @apply w-full;
  }
}